@mixin wide-text($size, $unit, $ratio: 1.16) {
  $font-size: $size + $unit;
  $line-height: ($size * $ratio) + $unit;

  font-size: $font-size;
  line-height: $line-height;
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (max-width: $breakpoint-xxl) {
      @content;
    }
  }
}
